.service {
  width: 100%;
  padding-top: 200px;

  @mixin button-style {
    width: 180px;
    height: 53px;
    background: #fcb72b;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border: none;
    transition: 0.3s ease;
  }

  @mixin button-hover {
    color: #fcb72b;
    font-size: 15px;
    font-weight: 700;
  }

  &__btn {
    @include button-style();

    &:hover {
      color: #fcb72b;
      background-color: unset;
      border: 3px solid #fcb72b;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__first {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;

    &__left {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      &__head {
        color: #495567;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2.143px;
        width: 445px;
        margin-bottom: 24px;
      }
      &__text {
        color: #939caa;
        font-family: "Lexend Deca";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        width: 445px;
        margin-bottom: 40px;
      }
    }
    &__right {
      position: relative;

      &__img {
        position: absolute;
        right: -165px;
        top: 290px;
      }
    }

    &__img {
      position: absolute;
      right: -165px;
      top: 70px;
    }
  }

  &__second {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 160px;

    &__left {
      position: relative;
      &__img {
        position: absolute;
        left: -165px;
      }
    }
  }
  &__last-first {
    margin-bottom: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .service img {
    width: 445px;
  }

  .container {
    max-width: 375px;
    padding: 0 32px;
  }

  .service {
    width: 375px;

    &__last-first {
      margin-bottom: 120px;
    }

    &__wrapper {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__first {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__left__head {
        width: 475px;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -1.429px;
      }

      &__left__text {
        width: 573px;
      }

      &__left__img {
        margin-bottom: 56px;

        &-sec {
          margin-bottom: 56px;
        }
      }
      &__img {
        display: none;
      }
      &__right__img {
        display: none;
      }
    }

    &__img {
      display: none;
    }

    &__second {
      display: flex;
      flex-direction: column;
      &__img {
        margin-bottom: 56px;
      }
      &__left__img {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  img {
    width: 311px;
  }

  .container {
    max-width: 375px;
    padding: 0 32px;
  }

  .service {
    width: 375px;

    &__last-first {
      margin-bottom: 120px;
    }

    &__wrapper {
      text-align: center;
    }
    &__first {
      display: flex;
      flex-direction: column-reverse;

      &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__left__head {
        width: 311px;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -1.429px;
      }

      &__left__text {
        width: 311px;
      }

      &__left__img {
        margin-bottom: 56px;

        &-sec {
          margin-bottom: 56px;
        }
      }
      &__img {
        display: none;
      }

      &__right__img {
        display: none;
      }
    }

    &__img {
      display: none;
    }

    &__second {
      display: flex;
      flex-direction: column;
      &__img {
        margin-bottom: 56px;
      }
      &__left__img {
        display: none;
      }
    }
  }
}
